<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mtc.farm">

	<select id="findAllTables" resultType="java.lang.String">
		select name from sysobjects where xtype='u'
	</select>

    <select id="findResult" parameterType="java.util.Map" resultType="java.util.HashMap">
        select * from ${tableName}
    </select>

	<select id="findResultHana" parameterType="java.util.Map" resultType="java.util.HashMap">
		select * from ${suffix}."${tableName}"
	</select>
    
    <select id="insertResult" parameterType="java.util.Map">
    	insert into ${suffix}."${tableName}" (
    		<foreach collection="map.keys" item="k" separator=",">   
			    "${k}"
			</foreach> 
    	) values (
    		<foreach collection="map.values" item="k" separator=",">   
			    #{k}
			</foreach> 
    	)
    </select>
	
	<delete id="deleteResult">
		delete from ${suffix}."${tableName}"
	</delete>

	<update id="update" parameterType="java.util.Map">
		update ${suffix}."${tableName}" set
		<foreach collection="setMap.keys" item="k" separator=",">
			<if test="null != setMap[k]">
				"${k}" = #{setMap[${k}]}
			</if>
		</foreach>
		where 1=1 and
		<foreach collection="whereMap.keys" item="k" separator="and">
			<if test="null != whereMap[k]">
				"${k}" = #{whereMap[${k}]}
			</if>
		</foreach>
	</update>

</mapper>